#!/bin/bash

############################################################################################
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Kernel Source:
# git clone https://github.com/yesimxev/android_kernel_xiaomi_laurel_sprout -b nethunter-18.1
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
############################################################################################

# Enable ccache to speed up compilation
CCACHE=true

# Kernel local name
export LOCALVERSION=-NetHunter-18.1-yesimxev
